/* .span{
 margin-left: 300px;
  }
 
  
  .container {
    padding: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-block: 5px;
    border-color: black;
  }
  .body{ 

    background-color:rgb(194, 246, 255)
  }
  .border{background-color: rgb(249, 232, 232);
    
    
} */
/* .center{
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;


} */
