 
 <!-- <div class="body"  >  -->


    <!-- <img src= "../../../assets/images/images.png" alt="Avatar" class="avatar"> -->

<div 
class="center" style="border: 5px solid rgb(15, 1, 1); width: 540px;  margin: px;  ">
  <img src= "../../../assets/images/images.png" alt="Avatar" class="avatar" >

<!-- <div>class:</div> -->

<h1 style="color: rgb(29, 29, 143);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">welcome to andrew profile </h1>

<!-- <a href="https://www.w3schools.com/css/css_boxmodel.asp"></a> -->
<br>
<p style="color: rgb(37, 48, 142);font-family: monospace;"><label for="uname"><b>name:  </b>andrew</label><p>
<br>
<p style="color:rgb(45, 23, 127);font-family: cursive;"><label for="uname"><b>email:  </b>something@gmail.com</label></p>
<br>
<label style="color: rgb(51, 33, 112);font-family: sans-serif ;" for="uname"><b>age:       </b>28</label>
<br>
<br>
<p style="color: rgb(26, 26, 128);font-family: Arial, Helvetica, sans-serif;"><label for="uname"><b>phone no:  </b>83836287338893</label></p>
<br>
<p style="color: rgb(42, 13, 139);font-family: Arial, Helvetica, sans-serif;"><label for="uname"><b>address:  </b>india</label></p>
<br>
<p style="color:rgb(23, 18, 130) ;font-family: Arial, Helvetica, sans-serif;"><label for="uname"><b>hobbies:  </b>playing cricket
</label></p> 
<br>
<button (click)="onSubmit()"> done 
</button>
<!-- <button (click)="onSubmit()" type="button" >Login
</button> -->

 </div>
<!-- <form [formGroup]="loginform">
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="uname" formControlName="username">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" formControlName="password">

    <button (click)="onSubmit()" type="submit" >Login
    </button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form> -->